head
  meta(charset='utf-8')
  title Project Kansas - Editor
  script(type="text/javascript", src="/scripts/xregexp-min.js")
  script(type="text/javascript", src="/scripts/shCore.js")
  script(type="text/javascript", src="/scripts/shBrushJScript.js")
  link(rel='stylesheet', type='text/css', href='/stylesheets/shCore.css')
  link(rel='stylesheet', type='text/css', href='/stylesheets/shThemeDefault.css')

body
  unless program.name == ""
    span Program is #{program.name}
    pre.brush:jscript Program is #{program.code}
    script(type="text/javascript") SyntaxHighlighter.all();
  else
    span#codetitle(style="font-family:courier;") My Procedure
    input(type="button", value="Refresh", onclick="window.location.reload()")
    br
    br
    form(action='/kansassave', method='get')
      input(name='name', type='text')
      br
      textarea(name='code', rows='8', cols='30')
      br
      input(type='submit', value='Store Procedure')