head
  meta(charset='utf-8')
  script(src='/scripts/leaflet.js', type='text/javascript')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', type='text/javascript')
  script(src='/scripts/myeditor.js', type='text/javascript')
  link(rel='stylesheet', href='/stylesheets/bootswatch.min.css', type='text/css')
  link(rel='stylesheet', href='/stylesheets/leaflet.css', type='text/css')
  style(type='text/css')
    html, body{
      height: 100%;
      width: 100%;
    }
    .container, .container .span12{
      height: 100%;
    }
    #map{
      width: 100%;
      height: 90%;
    }
    .sidebar{
      padding:10px;
      border-right: 1px solid #000;
      position:fixed;
      left:0px;
    }
    #parkCanvas{
      display:none;
    }
  title POI Mark II: Home
body(onload='init()')
  div.navbar
    .navbar-inner
      .container
        a.brand(href='#')
          span POI Mark II
        form.navbar-search.pull-right
          input.search-query(type='text', placeholder='Find Maps')

  div.container.book
    .span2.sidebar
      a.btn.btn-info(href='#', onclick='importOSM()')
        Import OSM
    .span12
      #map

  canvas#parkCanvas(width="300", height="300")