head
  meta(charset='utf-8')
  script(src='/scripts/leaflet.js', type='text/javascript')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', type='text/javascript')
  script(src='/scripts/myeditor.js', type='text/javascript')
  link(rel='stylesheet', href='/stylesheets/bootswatch.min.css', type='text/css')
  link(rel='stylesheet', href='/stylesheets/leaflet.css', type='text/css')
  style(type='text/css')
    html, body{
      height: 100%;
      width: 100%;
    }
    .container, .container .span12, .row, .span10{
      height: 100%;
    }
    #map{
      width: 100%;
      height: 90%;
    }
    .sidebar{
      padding:10px;
      border-right: 1px solid #000;
      position:fixed;
      left:0px;
    }
    #parkCanvas{
      display:none;
    }
  title POI Mark 2: Home
body
  div.navbar
    .navbar-inner
      .container
        a.brand(href='#')
          span POI Mark 2
        select#mapTiler.navbar-search(onchange='changeTiles()')
          option(value="mapquest", selected="selected") MapQuest Open
          option(value="mapbox") MapBox Streets
          option(value="mapnik") OSM: Mapnik
          option(value="transit") Transit
          option(value="terrain") Stamen Terrain
          option(value="watercolor") Stamen Watercolor

        form.navbar-search.pull-right
          input.search-query(type='text', placeholder='Find Maps')

  div.container.book
    .row
      .span2.sidebar
        a#importButton.btn.btn-info(href='#', onclick='importOSM()') Import OSM
        br
        br
        a.btn.btn-info(href='#', onclick='exportPOI()') Save Map
        br
        hr
        br
        a#editWand.btn.btn-info(href='#', onclick='toggleEditing()') Pause Editing
        br
        p Changing the shape of a building or park in this editor creates a copy of its new shape on POI Dough. You'll have the geometry you want, and keep a data link to OpenStreetMap.

      .span10
        #map

  canvas#parkCanvas(width="300", height="300")