head
  meta(charset='utf-8')
  link(rel='stylesheet', href='/stylesheets/bootswatch.min.css', type='text/css')
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300', type='text/css')
  title POI Mark II: Home
body(style='font-family:"Open Sans Condensed", sans-serif;')
  div.container(style='padding-top:22px;')
    .hero-unit
      h1 POI Dough
      h3 It's Maptastic!
      
    .row
      .span12
        h2 Try it Now
        h3
          a(href='/editor') Create a Map
        br
        h3
          a(href='/openmap?id=4fc194483899700100000003') Map Viewer
        br
        h3
          a(href='/kansas?id=4fc578ff59e0840100000005') HTML5 Art Editor
        br

    .row
      .span12
        h2 Highlight Buildings
        img(src='http://i.imgur.com/Bb9Ed.png')

    .row
      .span12
        h2 Create Textures
        img(src='http://i.imgur.com/voVdd.png', width='580')
    .row
      .span12
        h2 Procedural Art in HTML5
        img(src='http://i.imgur.com/GjFPU.png', width='580')
    .row
      .span12
        h2 Import Data