head
  title POI Mark 2: Home
  link(href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css",rel="stylesheet",type="text/css")
body
  h1 POI Mark 2
  p This is #{app_name}
  hr
  p
  a(href="/logout") Logout