doctype 5
html(lang="en")
  head
    title= POI Mark 2
    script(type='text/javascript')
      function(){
      
      }
  body
    h1 POI Mark 2
    p div and ready to go!
    p #{app_name}
    p #{title}