head
  meta(charset='utf-8')
  link(rel='stylesheet', href='/stylesheets/bootswatch.min.css', type='text/css')
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300', type='text/css')
  title POI Dough: Home

body(style='font-family:"Open Sans Condensed", sans-serif;')
  div.container(style='padding-top:22px;text-align:center;')
    .hero-unit(style='text-align:left;background:url("http://i.imgur.com/jA2Mr.png");background-repeat:no-repeat;border:3px solid #000;background-size:70%;background-position-x:300px;')
      h1 POI Dough
      h3 It's Maptastic!
      
    .row
      .span12
        ul(style='font-size:20pt;')
          li(style='display:inline;margin:10px;')
            a(href='/editor') Create a Map
          li(style='display:inline;margin:10px;')
            a(href='/openmap?id=4ffbad8313d2ce0100000066') Map Viewer
          li(style='display:inline;margin:10px;')
            a(href='/kansas?id=514dc6a78e5a460200000001') HTML5 Art Editor
        br
    
    .row
      .span12
        p Delve into OpenStreetMap data, choose and create place-based visualizations.
        p Start with OpenStreetMap geometry and tags, then add your own data.
        p Using node-canvas to help out IE, Android, and Google Earth with server-side rendering.

    .row
      .span12
        h2 Highlight Buildings
        img(src='http://i.imgur.com/Bb9Ed.png')

    .row
      .span12
        h2 Create Textures
        img(src='http://i.imgur.com/voVdd.png', width='580')
    .row
      .span12
        h2 Procedural Art in HTML5
        img(src='http://i.imgur.com/GjFPU.png', width='580')
    .row
      .span12
        h2 Import Data
        img(src='http://i.imgur.com/alAra.png', width='580')