head
  meta(charset='utf-8')
  link(rel='stylesheet', href='/stylesheets/bootswatch.min.css', type='text/css')
  title POI Mark II: Home
body
  div.navbar
    .navbar-inner
      .container
        a.brand(href='#')
          span POI Mark II
        form.navbar-search.pull-right
          input.search-query(type='text', placeholder='Find Maps')

  div.container
    .hero-unit
      h1 POI Mark II
      h3 It's Maptastic!
      
    .row
      .span12
        h2 Try it Now
        a(href='/editor') Create a Map
        br
        a(href='/openmap?id=4fc194483899700100000003') Map Viewer
        br
        a(href='/kansas?id=4fc1b2a150270f0100000001') HTML5 Art Editor

    .row
      .span12
        h2 Highlight Buildings
        img(src='http://i.imgur.com/Bb9Ed.png')

    .row
      .span12
        h2 Create Textures
        img(src='http://i.imgur.com/voVdd.png')
    
    .row
      .span12
        h2 Import Data